.diceContainer {
  padding: 55px;
  position: relative;
  height: 200px;
  width: 100%;
  display:flex;
  justify-content: center;
  padding-right:150px;
}

.cube {
  position: relative;
  display:inline-block;
}

.side {
  position: absolute;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: white;
  font-size: 40px;
  border: rgb(0, 0, 0, 0.25) solid 1px;
  border-radius: 5px;
}
.rainbow > *{
  background: radial-gradient(
    rgba(195, 20, 50, 0.8) 0%,
      rgba(36, 11, 54, 0.8) 100%
  );
}
.red>* {
  background-color: rgba(134, 7, 47, 0.75);
}

.orange>* {
  background-color: rgba(200, 65, 32, 0.75);
}

.yellow>* {
  background-color: rgba(175, 199, 56, 0.75);
}

.green>* {
  background-color: rgba(117, 200, 139, 0.75);
}

.blue>* {
  background-color: rgba(46, 123, 224, 0.75);
}

.purple>* {
  background-color: rgba(82, 12, 139, 0.75);
}

.left {
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(50px) translateY(50px);
}


.front {
  text-decoration: underline;
}

.back {
  transform: rotateX(180deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) rotateZ(270deg) translateZ(50px) translateY(50px);
}

.top {
  transform: rotateX(270deg)  rotateZ(180deg) translateY(-50px) translateZ(50px) ;
}


.bottom {
  transform: rotateX(270deg) rotateZ(180deg) rotateY(180deg) translateZ(50px) translateY(-50px);
}

.one {
  transform: rotateX(180deg);
  transform-origin: 50px 50px -50px;
  transform-style: preserve-3d;
  animation: land-on-one 10s 1;
}
.two {
  transform: rotateX(270deg) ;
  transform-origin: 50px 50px -50px;
  transform-style: preserve-3d;
}
.three {
  transform: rotateX(90deg) rotateZ(-90deg);
  transform-origin: 50px 50px -50px;
  transform-style: preserve-3d;
}
.four {
  transform: rotateX(90deg) rotateZ(90deg);
  transform-origin: 50px 50px -50px;
  transform-style: preserve-3d;
}
.five {
  transform: rotateX(90deg) rotateY(180deg);
  transform-origin: 50px 50px -50px;
  transform-style: preserve-3d;
}
.six{
  transform: none;
  transform-origin: 50px 50px -50px;
  transform-style: preserve-3d;
}
.spin {
  cursor: pointer;
  transform-origin: 50px 50px -50px;
  transform-style: preserve-3d;
  animation: spin-origin-50 3s linear infinite;
}

@keyframes spin-origin-50 {
  0% {
      transform: rotateX(90deg) rotateY(180deg);
      transform-origin: 50px 50px -50px;
  }
  50% {
      transform: rotateX(270deg)rotateY(360deg);
      transform-origin: 50px 50px -50px;
  }
  100% {
      transform: rotateX(450deg)rotateY(540deg);
      transform-origin: 50px 50px -50px;
  }
}

@keyframes spin-test-X {
  0% {
      transform: rotateX(0deg);
      transform-origin: 50px 50px -50px;
  }
  100% {
      transform: rotateX(360deg);
      transform-origin: 50px 50px -50px;
  }
}

/* Box Model Hack */
*{
  box-sizing: border-box;
}

.blank, .options {
  font-family: 'Courier New', Courier, monospace;
  background: black;
  color: green;
  font-weight: bolder;
}
.options {
  font-size: 12px;
}

.message {
  display:flex;
  flex-direction: column;
  padding:36px;
  color: white;
  background: linear-gradient(
    rgba(195, 20, 50, 1) 0%,
      rgba(36, 11, 54, 1) 100%
  );
  font-family: 'Anton', 'sans-serif';
  line-height: 150%;
  font-size:16px;
}

.hidden {
  display: none;
}

body {
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
html {
  height: 100vh;
  background: black;
}
.blank.active {
  animation: blinker 0.4s linear infinite;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  25% {
    opacity:0; 
  }
  50% {
    opacity: 1;
  }

}